@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MICEGothic';
  src: url('fonts/MICEGothic.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'MICEGothic';
  src: url('fonts/MICEGothic-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/NotoSansKR-Bold.otf');
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(-8%);
  }

  65% {
    transform: translateY(4%);
  }

  80% {
    transform: translateY(-4%);
  }

  95% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0%);
  }
}

.slideLeft1 {
  animation: slideLeft .5s ease ;
}
.slideLeft2 {
  animation: slideLeft .5s ease .5s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0%);
  }
}


.slideRight1 {
  animation-name: slideRight;
  animation-duration: .5s;
  animation-timing-function: ease;
}

.slideRight2 {
  animation-name: slideRight;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-delay: 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0%);
  }
}